/* Base */

@font-face {
    font-family: "Roadrage";
    src: url("./fonts/Roadrage.otf");
    font-weight: normal;
}

body {
    font-family: 'Space Mono', monospace;
}

header {
    padding: 4rem 0 3rem;
}

h1 {
    font-family: 'Roadrage';
}

button {
    min-width: 5rem;
    padding: .7rem;
    text-transform: uppercase;
    color: #FFF;
    border-radius: 25px;
    border: 0;
    letter-spacing: 2px;
    background: rgb(247,236,255);
    background: linear-gradient(0, rgba(247,236,255,1) -21%, rgba(128,77,246,1) 64%);
}

.trick__inner {
    color: #FFF;
    background-color: #4B3CAC;
    border-radius: 8px;
    padding: 2rem;
    margin-bottom: 1rem;
}